<nav role="navigation" class="navigation">
  <ul class="menu navigation__main wrapper">
    <li><a href="{{ url }}/">Home</a></li><!--
 --><li><a href="{{ url }}/about/">About</a></li><!--
 --><li><a href="{{ url }}/agenda/">Agenda</a></li><!--
 --><li><a href="{{ url }}/exhibitors/">Exhibitors</a></li><!--
 --><li><a href="{{ url }}/partner-opportunities/">Partner Opportunities</a></li><!--
 --><li><a href="{{ url }}/contact/">Contact</a></li>
  </ul>
</nav>
